@mixin flex($dir, $vertial, $horizontal, $wrap, $gap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $vertial;
    align-items: $horizontal;
    flex-wrap: $wrap;
    gap: $gap;
}

// $breakpoints

@mixin row-between {
    @include flex(row, space-between, center, wrap, $space-0);
}